body {
  padding: 10px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;;
}

.menu {
  display: none;
}

.island-name {
  font-size: 1.5rem;
  margin-left: 10px;
}

.form-group label {
  display: block;
}

.form-group .island_name, .form-group .kabuka {
  display: inline-block; 
  width: 50%;
}

.form-group .btn {
  vertical-align: bottom;
}

.navigator {
  margin-top: 10px;
  text-align: center;
}

.navigator .btn {
  margin: 0 5px;
}

.chart {
  position: relative; 
  width: calc(100vw - 20px); 
  height: calc(100vh - 250px);
  max-width: 100%;
}
